#"__pycache__/\n*.pyc\n.env\n.vscode\nmodels/*.pkl" 
# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
temp/

# Ignore virtual environment
venv/

# Ignore model files if they are generated
models/*.pkl

# Ignore VS Code settings (optional)
.vscode/

# Ignore Streamlit temporary files
.streamlit/

